package custalerts

templ component(m *Model) {
    <div class={"alert", "alert-custom", string(m.alertType)} role="alert">
        for _, msg := range m.msgList {
            {msg} <br/>
        }
    </div>
}